<%- include('templates/header.ejs'); -%>

  <!-- Page Heading -->
  <h1 class="mb-4 mt-4"><%= title %></h1>


  <div class="row">

    <!-- Stripe card -->
    <div class="col-lg-6">

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
              <% if (subscriptionActive) { %>
                Vous désabonner ici !
              <% } else { %>
                S'abonner et se désabonner en un clic !
              <% } %>
            </h6>
        </div>

        <div class="card-body">
          <% if (subscriptionActive) { %>

            <!-- Stripe cancelling subscription here -->
            <form action="/unsubscribe" method="post">
              <button class="btn btn-primary btn-xl js-scroll-trigger">Me désabonner</button>

            </form>

            <% } else { %>
              <p>
                Il est temps pour vous de découvrir votre talent pour apprendre de nouvelles langues !
              </p>

              <!-- Stripe API here -->
              <button onclick="gotoCheckout()" class="btn btn-primary btn-xl js-scroll-trigger">Parler breton !</button>

              <script src="https://js.stripe.com/v3/"></script>

              <script>
                var stripe = Stripe('<%= STRIPE_PUBLIC_KEY %>');
                function gotoCheckout() {
                  stripe.redirectToCheckout({
                    // Make the id field from the Checkout Session creation API response
                    // available to this file, so you can provide it as argument here
                    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                    sessionId: '<%= sessionId %>'
                  }).then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                  });
                };
              </script>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lancez-vous !</h6>
            </div>
            <div class="card-body">
              Notre méthode contient actuellement trois mois de formation 'semi-intensive', basée sur des podcasts d'un dixaine de minutes, semblables à ceux de la démo.
              Nous travaillons dur pour créer plus de contenu et dans d'autres dialectes, mais si votre but est d'acquérir rapidement des bases solides vous n'avez rien à perdre à vous lancer dès aujourd'hui.
              Nous appliquons une politique 'satisfait ou remboursé', donc si la méthode ne vous convient pas vous pourrez toujours nous envoyer un email et demander un remboursement.
              N'hésitez pas non plus à prendre le temps de nous envoyer vos questions et remarques par email, nous avons hâte de vous lire, mais surtout, nous avons hâte de vous entrendre parler breton, alors abonnez-vous vite !
            </div>
          </div>
        </div>
      </div>

<%- include('templates/footer.ejs'); -%>
