
<% if (email) { %>
  <%- include('../../views/templates/header.ejs'); %>
<% } else { %>
    <%- include('../../views/templates/headerno.ejs'); %>
<% } %>

  <!-- Page Heading -->
  <h1 class="mb-4 mt-4"><%= title %></h1>

    <% if (newPassword.length > 0) { %>
      <%- include('../../views/flashMessages/newPassword.ejs'); %>
    <% } %>

  <div class="row alert-position">
    <div class="col-lg-6">
      <!-- Top Left Card [TLC] -->
      <% if (!email) { %>
        <%- include('cards/TLCVisitor.ejs'); %>
      <% } else if (active === true) { %>
        <%- include('cards/TLCActive.ejs'); %>
      <% } else { %>
        <%- include('cards/TLCUnactive.ejs'); %>
      <% } %>

    </div>
  </div>

<%- include('../../views/templates/footer.ejs'); -%>
