
<%- include('../../views/templates/header.ejs'); %>

  <!-- Page Heading -->
  <% var h1 = (file == null)? 'Accueil' :  `Kentel ${file}` %>
  <h1 class="mb-4 mt-4" id="mainTitle"><%= h1 %></h1>

  <% if (newPassword.length > 0) { %>
    <%- include('../../views/flashMessages/newPassword.ejs'); %>
  <% } %>

  <!-- Main Row -->
  <div class="row alert-position">

    <!-- Left Column -->
    <div class="col-lg-6">
      <!-- Top Left Card [TLC] -->
      <% if (!email) { %>
        <%- include('cards/TLCVisitor.ejs'); %>
      <% } else if (active === true && file > 0) { %> <!-- Player -->
        <%- include('cards/TLCActive.ejs'); %>
      <% } else if (active === true) { %> <!-- Welcoming  Card -->
        <%- include('cards/TLCStarting.ejs'); %>
      <% } else { %>
        <%- include('cards/TLCUnactive.ejs'); %>
      <% } %>

      <%- include('cards/Events.ejs'); %>
      <%- include('cards/About.ejs'); %>

    <!-- Left Column End -->
    </div>

    <!-- Right Column -->
    <div class="col-lg-6">
      <!-- Top Left Card [TLC] -->
      <% if (active === true && file > 0) { %>
        <%- include('cards/TRCActive.ejs'); %> <!-- Lesson Data -->
      <% } else if (active === true ) { %>
        <%- include('cards/TRCStarting.ejs'); %>
      <% } else { %>
        <%- include('cards/TRCUnactive.ejs'); %>
      <% } %>

    <!-- Right Column End -->
    </div>

  <!-- Main Row End -->
  </div>

<%- include('../../views/templates/footer.ejs'); -%>
